<ion-header>
  <ion-toolbar>
    <ion-title> {{ item.name ? item.name : item.phone }} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closePage()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [class]="!activeSlideValid? 'swiper-no-swiping':''">
  <div class="scrollbar-container"></div>
  <ion-slides scrollbar="true" [options]="slideOpts" (ionSlideDidChange)="setActiveSlide($event)">
    <ion-slide *ngFor="let slide of leadPropertiesMetadata; let i = index">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-icon [name]="slide.icon + '-outline'" class="slide-icon"></ion-icon>
            <h3 class="slide-title">
              <span *ngIf="slide.type !== leadPropertyType.Budget">
                {{ slide.title | translate }}
              </span>
              <span *ngIf="slide.type === leadPropertyType.Budget">
                {{ slide.title  | budgetPerLeadType : resultLead.type: isCommercial| translate }}
              </span>
            </h3>
            <ion-note class="slide-sub-title">
              <p *ngIf="slide.id === 'area' && areasMultiselect">{{ 'MULTIPLE_SELECTION' | translate }}</p>
              <p *ngIf="slide.description">
                {{ slide.description
                .replace("{leadName}", item.name)
                .replace("{dealType}", dealTypeDescription)
                }}
              </p>
            </ion-note>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="slide.options?.length" class="tight">
          <ion-col size="6" *ngFor="let button of slide.options">
            <ion-button dir="ltr" (click)="answerButtonClick(slide, button, i)" fill="solid" expand="full"
              [color]="button.selected ? 'secondary' : 'light'">
              {{ button.title | leadOption: slide.id }}
            </ion-button>
          </ion-col>
        </ion-row>
        <!-- <ion-row *ngIf="slide.id === 'rooms'" class="margin-top">
          <ion-col size="12">
            <ion-button color="secondary" expand="full" (click)="addMetersSlide(i);">
              {{ 'METER_DATA_INPUT' | translate }}
            </ion-button>
          </ion-col>
        </ion-row> -->
        <ion-row *ngIf="slide.type === leadPropertyType.Budget">
          <ion-col size="12" dir="ltr">
            <budget-slider [dealType]="dealType" [commercial]="isCommercial" [value]="this.resultLead.budget"
              (valueChanged)="setBudget(slide, $event)" (customValueSelected)="setBudgetButton(slide, $event)">
            </budget-slider>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-fab vertical="top" horizontal="end" *ngIf="slide.editable">
        <ion-fab-button mini (click)="addOptionModal(slide)" color="secondary">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>
    <ion-slide>
      <ion-list>
        <ion-list-header>
          {{ "DETAILS" | translate }}
        </ion-list-header>
        <ion-item>
          <ion-icon name="person-add" slot="start" color="primary"></ion-icon>
          <p>{{ item.name }}</p> <!--  , {{ "INTERESTED_IN" | translate }} {{ item.type | leadType | translate }} -->
        </ion-item>
        <ion-item>
          <ion-icon name="phone-portrait" slot="start" color="primary"></ion-icon>
          <ion-label>
            <p>{{ item.phone }}</p>
          </ion-label>
        </ion-item>
        <ion-list-header>
          {{ "PROPERTIES" | translate }}
        </ion-list-header>
        <ion-item *ngFor="let slide of leadPropertiesMetadata; let i = index" (click)="goToSlide(i)">
          <ion-icon [name]="slide.icon + '-outline'" slot="start" color="primary"></ion-icon>
          <ion-label>
            <h2>
              <span *ngIf="slide.type !== leadPropertyType.Budget">
                {{ slide.title | translate }}
              </span>
              <span *ngIf="slide.type === leadPropertyType.Budget">
                {{ slide.title  | budgetPerLeadType : resultLead.type: isCommercial| translate }}
              </span></h2>
            <p><span dir="ltr">{{getSlideValueStr(slide) | leadOption: slide.id}}</span></p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button [hidden]="!activeSlideValid" [color]="activeSlideValid? 'secondary':'medium'"
      (click)="handleContinueClick()">
      <ion-icon name="arrow-back" [hidden]="isSummarySlide"></ion-icon>
      <ion-label [hidden]="!isSummarySlide">{{'GENERAL_APPROVE' | translate}}</ion-label>
    </ion-fab-button>
  </ion-fab>
</ion-footer>