<ion-header>
  <ion-toolbar>
    <ion-title> {{ item.name ? item.name : item.phone }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scrollbar-container"></div>
  <ion-slides scrollbar="true" [options]="slideOpts" (ionSlideDidChange)="setActiveSlide($event)">
    <ion-slide *ngFor="let slide of leadPropertiesMetadata; let i = index" [class]="!activeSlideValid? 'swiper-no-swiping':''">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-icon [name]="slide.icon + '-outline'" class="slide-icon"></ion-icon>
            <h3 class="slide-title">{{ slide.title | translate }}</h3>
            <ion-note class="slide-sub-title" [hidden]="slide.type !== leadPropertyType.StringMultivalue">{{ 'MULTIPLE_SELECTION' | translate }}</ion-note>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="slide.options?.length">

          <ion-col size="6" *ngFor="let button of slide.options">
            <ion-button dir="ltr"  (click)="answerButtonClick(slide, button, i)" [fill]="button.selected? 'solid': 'outline'" expand="block" [color]="button.selected ? 'secondary' : 'dark'">
              {{ button.title }}
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row [hidden]="slide.type !== leadPropertyType.StringMultivalue">
          <ion-item class="fab-pad"></ion-item>
        </ion-row>
        <ion-row *ngIf="slide.id === 'rooms'" class="margin-top">
          <ion-col size="12">
            <ion-button color="secondary" expand="block" (click)="addMetersSlide(i);">
              {{ 'METER_DATA_INPUT' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row [hidden]="activeSlide !== i">
          <ion-col size="12" dir="ltr">
            <budget-slider *ngIf="slide.type === leadPropertyType.Budget" [dealType]="dealType" [value]="this.resultLead.budget"
              (valueChanged)="setBudget(slide, $event)" (customValueSelected)="setBudgetButton(slide, $event)"></budget-slider>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-fab vertical="top" horizontal="end" *ngIf="slide.id == 'area'">
        <ion-fab-button mini (click)="addAreaModal()" color="secondary">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>
    <ion-slide>
      <ion-list>
        <ion-list-header>
          {{ "DETAILS" | translate }}
        </ion-list-header>
        <ion-item>
          <ion-icon name="person-add" slot="start" color="primary"></ion-icon>
          <p>{{ item.name }}</p> <!--  , {{ "INTERESTED_IN" | translate }} {{ item.type | leadType | translate }} -->
        </ion-item>
        <ion-item>
          <ion-icon name="phone-portrait" slot="start" color="primary"></ion-icon>
          <ion-label>
            <p>{{ item.phone }}</p>
          </ion-label>
        </ion-item>
        <ion-list-header>
          {{ "PROPERTIES" | translate }}
        </ion-list-header>
        <ion-item *ngFor="let slide of leadPropertiesMetadata; let i = index" (click)="goToSlide(i)">
          <ion-icon [name]="slide.icon + '-outline'" slot="start" color="primary"></ion-icon>
          <ion-label>
            <h2>{{ slide.title }}</h2>
            <p><span dir="ltr">{{getSlideValueString(slide)}}</span></p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>


<ion-footer class="ion-no-border">
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button [hidden]="!activeSlideValid" [color]="activeSlideValid? 'secondary':'gray'" (click)="handleContinueClick()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <ion-fab vertical="bottom" horizontal="center" [hidden]="!isSummarySlide">
    <button ion-fab (click)="submitSummary()" color="secondary">
      {{ "GENERAL_APPROVE" | translate }}
    </button>
  </ion-fab> -->
</ion-footer>



<!-- [hidden]="!(
              leadPropertiesMetadata[activeSlide].type === leadPropertyType.StringMultivalue || 
              leadPropertiesMetadata[activeSlide].type === leadPropertyType.Budget
          )" -->