<ion-grid padding>
  <ion-row>
    <ion-label class="budget-value-label">
      <p [hidden]="title">{{ 'BUDGET_RANGE' | translate }}</p>
      <p [hidden]="!title">{{ title | translate}}</p>
      <h3>
        {{ value.lower | numberFormat }} - {{ value.upper | numberFormat }}
      </h3>
    </ion-label>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="swiper-no-swiping">
      <ion-range snaps="true" dir="ltr" dualKnobs="true" [value]="sliderValue" [min]="sliderMinMaxValue.lower" [max]="sliderMinMaxValue.upper"
        step="1" color="secondary" (ionChange)="onSliderChange($event)">
        <!-- <ion-label range-left>{{ minMaxValue.upper | numberFormat }}</ion-label>
        <ion-label range-right>{{ minMaxValue.lower | numberFormat }}</ion-label> -->
      </ion-range>
    </ion-col>
  </ion-row>
</ion-grid>