<ion-header>
  <ion-toolbar>
    <ion-title size="small">{{ title | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closePage()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-onboarding-info [hidden]="!showBudgetSlider">
    {{'LEAD_DETAILS_MATCHES_INFORMATION' | translate}} - {{lead.name + "."}}
    {{'LEAD_DETAILS_MATCHES_INFORMATION_2' | translate}}
  </app-onboarding-info>
  <ion-list>
    <ion-list-header>{{'LEAD_DETAILS_FILTERS_TITLE'| translate}} </ion-list-header>
    <filtered-by [filters]="filters"></filtered-by>
    <range-budget-slider *ngIf="showBudgetSlider && dealType!== undefined" [value]="budgetValue" [minMaxValues]="budgetMinMaxValues"
      [dealType]="dealType" (valueChanged)="budgetChanged($event)" [title]="leadType === 'Buyer' || leadType === 'Landlord'? 'BUDGETS_RANGE' : 'PRICES_RANGE'">
    </range-budget-slider>
  </ion-list>
  <ion-list>
    <ion-chip class="full" color="secondary">
      <ion-label [hidden]="leadType === 'Buyer' || leadType === 'Landlord'">
        {{ 'TARGET_BUDGET_FOR'|translate}}: {{lead.budget | numberFormat}}
      </ion-label>
      <ion-label [hidden]="leadType === 'Seller' || leadType === 'Tenant'">
        {{ 'TARGET_PRICE'|translate}}: {{lead.budget | numberFormat}}
      </ion-label>
    </ion-chip>
    <leads-list [leads]="leadsSearchResults" [showOnlyRelevant]="true" [showClientSearch]="false" [showLeadCount]="true"
      [showBudget]="true" (itemClicked)="openLeadDetails($event)"></leads-list>
      <ion-item lines="none"></ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button (click)="sendMessage()" color="secondary">
      <ion-icon name="chatbox"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>