<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ "FILTER_PAGE_HEADER" | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closePage()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div *ngFor="let filter of filters">
      <ion-item class="no-margin" (click)="filterClick(filter)" *ngIf="filter.metadata">
        <ion-icon [name]="filter.metadata.icon + '-outline'" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h2>{{ filter.metadata.title }}</h2>
          <p [hidden]="filter.selected || !getFilterValueString(filter)">
            {{ getFilterValueString(filter) | leadOption: filter.metadata.id}}
          </p>
        </ion-label>
        <ion-icon [name]="filter.selected ? 'arrow-down' : 'arrow-back'" slot="end"></ion-icon>
      </ion-item>
      <ion-radio-group (ionChange)="handleSingleOptionValueClick(filter, $event)" [hidden]="!filter.selected" *ngIf="filter.metadata && filter.metadata.type === leadPropertyType.StringSingleValue">
        <ion-item *ngFor="let option of filter.metadata.options">
          <ion-label>{{option.title | leadOption: filter.metadata.id}}</ion-label>
          <ion-radio [value]="option.title" slot="start"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <div [hidden]="!filter.selected" *ngIf="filter.metadata && filter.metadata.type === leadPropertyType.StringMultivalue">
        <ion-item *ngFor="let option of filter.metadata.options">
          <ion-label>{{option.title | leadOption: filter.metadata.id}}</ion-label>
          <ion-checkbox [checked]="option.selected" slot="start" (ionChange)="handleMultivalueOptionValueClick(filter, option, $event)"></ion-checkbox>
        </ion-item>
      </div>
      <div *ngIf="filter.metadata && filter.metadata.type === leadPropertyType.Budget" [hidden]="!filter.selected">
        <budget-slider [value]="filter.value" [dealType]="dealType" *ngIf="filter.selected" (valueChanged)="setBudget(filter, $event)"
          (customValueSelected)="setBudget(filter, $event); filter.selected = false;"></budget-slider>
      </div>
    </div>
    <!-- <ion-item class="no-margin">
      <ion-icon [hidden]="!relevantOnly" name="checkmark" slot="start" color="primary"></ion-icon>
      <ion-icon [hidden]="relevantOnly" name="close" slot="start" color="danger"></ion-icon>
      <ion-label>{{'LEAD_RELEVANCE_SHOW_ONLY_RELEVANT' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="relevantOnly"></ion-toggle>
    </ion-item> -->
    <ion-item lines="none">

    </ion-item>
  </ion-list>
  <ion-fab horizontal="center">
    <ion-fab-button color="secondary" (click)="done()">
      {{ "GENERAL_APPROVE" | translate }}
    </ion-fab-button>
  </ion-fab>
</ion-content>