<ion-list-header *ngIf="showLeadCount && filteredLeads && filteredLeads.length">
  {{'GENERAL_FOUND' | translate}} {{filteredLeads.length}} {{'GENERAL_RESULTS' | translate}}
  <!-- <button (click)="export()">export</button> -->
</ion-list-header>
<ion-item *ngFor="let item of filteredLeads" (click)="onItemClicked(item)">
  <ion-avatar slot="start">
    <img [src]="item.avatar | avatar" />
  </ion-avatar>
  <ion-label>
    <h3>{{item.name}}</h3>
    <p>{{item.phone}}</p>
  </ion-label>

  <ion-note slot="end" *ngIf="item.created">
    {{item.created.toDate() | date: "dd/MM/yy"}}
    <p class="not-relevant-item" [hidden]="item.relevant">
      {{ 'LEAD_RELEVANCE_STATUS_NO' | translate}}
    </p>
  </ion-note>
</ion-item>
<ion-item lines="none" [hidden]="!leads || leads?.length" text-center>
  {{"GENERAL_SEARCH_NO_RESULTS" | translate}}
</ion-item>