<ion-item *ngIf="showLeadCount && filteredLeads && filteredLeads.length">
  <ion-label>
    <p>
      {{'GENERAL_FOUND' | translate}} {{filteredLeads.length}} {{'GENERAL_RESULTS' | translate}}
    </p>
  </ion-label>
  <ion-icon name="share-social-outline" color="primary" (click)="export()" slot="end" size="small"></ion-icon>
</ion-item>
<ion-item *ngFor="let item of filteredLeads" (click)="onItemClicked(item)">
  <ion-avatar slot="start">
    <img [src]="item.avatar | avatar" />
  </ion-avatar>
  <ion-label>
    <h3>{{item.name}}</h3>
    <p>{{item.phone}}</p>
  </ion-label>

  <ion-note slot="end" *ngIf="item.created && !showBudget">
    {{item.created | date: "dd/MM/yy"}}
    <p class="not-relevant-item" [hidden]="item.relevant">
      {{ 'LEAD_RELEVANCE_STATUS_NO' | translate}}
    </p>
  </ion-note>
  <p [hidden]="!showBudget">
      <ion-chip color="primary" size="small" class="budget-chip">
        <ion-icon name="cash"></ion-icon>
        <ion-label>{{item.budget | numberFormat}}</ion-label>
      </ion-chip>
    </p>
</ion-item>
<ion-item lines="none" [hidden]="!leads || leads?.length" text-center>
  <p>
    {{"GENERAL_SEARCH_NO_RESULTS" | translate}}
  </p>
</ion-item>