<!-- <ion-label range-left>{{ maxValue | numberFormat }}</ion-label> -->
<ion-grid>
  <ion-row>
    <ion-col size="12" class="swiper-no-swiping">
      <ion-label class="budget-value-label" color="secondary" (click)="manualPriceClick()"> {{ value | numberFormat }} ₪</ion-label>
      <ion-range dir="ltr" snaps="false" dualKnobs="false" [value]="sliderValue" [max]="sliderMaxValue" [min]="sliderMinValue" step="1" debounce="10"
        color="secondary" (ionChange)="onSliderChange($event)">
        <!-- <ion-label slot="start"> 1 </ion-label>
        <ion-label slot="end"> 100 </ion-label> -->
      </ion-range>
    </ion-col>
  </ion-row>
  <ion-row class="tight">
    <ion-col size="6" *ngFor="let item of presetBudgets">
      <ion-button (click)="setValue(item)" dir="ltr" expand="full"  fill="solid"
        [color]="item===value ? 'secondary' : 'light'">
        {{ item | numberFormat }}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>