  <!-- <ion-label range-left>{{ maxValue | numberFormat }}</ion-label> -->
<ion-grid padding>
  <ion-row>
    <ion-col size="12" class="swiper-no-swiping">
        <ion-label class="budget-value-label"> {{ value | numberFormat }} </ion-label>
        <ion-range dir="ltr"
          dualKnobs="false"
          [value]="sliderValue"
          [max]="sliderMaxValue"
          [min]="sliderMinValue"
          step="1"
          color="secondary"
          (ionChange)="onSliderChange($event)"
        >
        <ion-label slot="start"> 1 </ion-label>
        <ion-label slot="end"> 100 </ion-label>   
      </ion-range>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" *ngFor="let item of presetBudgets">
      <ion-button (click)="setValue(item)" dir="ltr" expand="block" [fill]="item===value ? 'solid': 'outline'" expand="block" [color]="item===value ? 'secondary' : 'dark'">
        {{ item | numberFormat }}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
