<ion-header>
    <ion-toolbar>
        <ion-title>{{ pageTitle }}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button icon="arrow-forward">
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-onboarding-info key="ONBOARDING_SETTINGS" *ngIf="page === 'main'">
        {{ 'ONBOARDING_SETTINGS' | translate }}
    </app-onboarding-info>
    <ion-list *ngIf="page == 'main'" class="items-list">
        <ion-list-header>
            {{ 'SETTINGS_ACCOUNT' | translate }}
        </ion-list-header>
        <ion-item (click)="logout()" *ngIf="userData">
            <ion-avatar slot="start">
                <img [src]=" '' | avatar" />
            </ion-avatar>
            <ion-label>
                <h3 color="primary">{{userData.email}}</h3>
                <p color="danger">{{'GENERAL_LOGOUT' | translate}}</p>
            </ion-label>
        </ion-item>
        <ion-list-header>
            {{ 'SETTINGS_PREFERENCES' | translate }}
        </ion-list-header>

        <ion-item *ngFor="let setting of multivalueMetadataEditableSettings" (click)="gotoSettingsPage(setting)">
            <ion-label>{{ 'SETTINGS_'+ setting.key | translate }}</ion-label>
        </ion-item>
    </ion-list>
    <div *ngFor="let setting of multivalueMetadataEditableSettings">
        <ion-list *ngIf="page == setting.name" class="items-list">
            <ion-item *ngFor="let item of items" class="items-list">
                <ion-icon name="trash-bin-outline" slot="end" color="danger" size="small" (click)="confirmItemRemove(setting, item)"></ion-icon>
                <p>{{item.name}}</p>
            </ion-item>
            <ion-item class="fab-pad" lines="none">

            </ion-item>
        </ion-list>
    </div>


</ion-content>
<ion-footer class="ion-no-border">
    <div *ngFor="let setting of multivalueMetadataEditableSettings">
        <ion-fab *ngIf="page == setting.name" horizontal="end" vertical="bottom">
            <ion-fab-button (click)="addItemModal(setting)" color="secondary">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>
</ion-footer>